nodered/flows.json
[
  {
    "id": "f1c6e5b4c8a9d001",
    "type": "tab",
    "label": "Smart Irrigation",
    "disabled": false,
    "info": "Monitor sensor data and control pump over MQTT"
  },
  {
    "id": "b7a9f2019b2f0001",
    "type": "mqtt-broker",
    "name": "Public MQTT",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "uitab001f1",
    "type": "ui_tab",
    "name": "Irrigation",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "uigrp001a1",
    "type": "ui_group",
    "name": "Status",
    "tab": "uitab001f1",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "uigrp001a2",
    "type": "ui_group",
    "name": "Control",
    "tab": "uitab001f1",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqttin_sensor_01",
    "type": "mqtt in",
    "z": "f1c6e5b4c8a9d001",
    "name": "Sensor JSON",
    "topic": "smart_irrigation/dinhthi/data/sensor",
    "qos": "0",
    "datatype": "utf8",
    "broker": "b7a9f2019b2f0001",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["json_sensor_01", "ui_raw_sensor_01"]]
  },
  {
    "id": "json_sensor_01",
    "type": "json",
    "z": "f1c6e5b4c8a9d001",
    "name": "Parse Sensor JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 120,
    "wires": [["chg_moisture_01", "fn_temp_humi_01"]]
  },
  {
    "id": "chg_moisture_01",
    "type": "function",
    "z": "f1c6e5b4c8a9d001",
    "name": "Parse moisture for gauge",
    "func": "let p = msg.payload;\nif (typeof p === \"string\") {\n  try { p = JSON.parse(p); } catch (e) { return null; }\n}\nconst m = Number(p.soil_moisture);\nif (Number.isNaN(m)) return null;\nmsg.payload = m;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 100,
    "wires": [["ui_gauge_moisture_01"]]
  },
  {
    "id": "fn_temp_humi_01",
    "type": "function",
    "z": "f1c6e5b4c8a9d001",
    "name": "Format temp/humidity",
    "func": "const t = msg.payload.temperature;\nconst h = msg.payload.humidity;\nmsg.payload = `Temp: ${t} C | Humi: ${h}%`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 140,
    "wires": [["ui_text_temp_humi_01"]]
  },
  {
    "id": "ui_gauge_moisture_01",
    "type": "ui_gauge",
    "z": "f1c6e5b4c8a9d001",
    "name": "Soil Moisture",
    "group": "uigrp001a1",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Soil Moisture",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "40",
    "seg2": "70",
    "x": 890,
    "y": 100,
    "wires": []
  },
  {
    "id": "ui_text_temp_humi_01",
    "type": "ui_text",
    "z": "f1c6e5b4c8a9d001",
    "group": "uigrp001a1",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Temp/Humidity",
    "label": "Environment",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 890,
    "y": 140,
    "wires": []
  },
  {
    "id": "ui_raw_sensor_01",
    "type": "ui_text",
    "z": "f1c6e5b4c8a9d001",
    "group": "uigrp001a1",
    "order": 3,
    "width": 12,
    "height": 1,
    "name": "Raw Sensor",
    "label": "Raw JSON",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 390,
    "y": 180,
    "wires": []
  },
  {
    "id": "mqttin_pump_state_01",
    "type": "mqtt in",
    "z": "f1c6e5b4c8a9d001",
    "name": "Pump State",
    "topic": "smart_irrigation/dinhthi/data/pump_state",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "b7a9f2019b2f0001",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 260,
    "wires": [["ui_text_pump_state_01"]]
  },
  {
    "id": "ui_text_pump_state_01",
    "type": "ui_text",
    "z": "f1c6e5b4c8a9d001",
    "group": "uigrp001a1",
    "order": 4,
    "width": 6,
    "height": 1,
    "name": "Pump State",
    "label": "Pump State",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 390,
    "y": 260,
    "wires": []
  },
  {
    "id": "btn_pump_on_01",
    "type": "ui_button",
    "z": "f1c6e5b4c8a9d001",
    "name": "Pump ON",
    "group": "uigrp001a2",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "PUMP ON",
    "tooltip": "",
    "color": "#ffffff",
    "bgcolor": "#2e7d32",
    "className": "",
    "icon": "power_settings_new",
    "payload": "ON",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 150,
    "y": 360,
    "wires": [["mqttout_pump_cmd_01"]]
  },
  {
    "id": "btn_pump_off_01",
    "type": "ui_button",
    "z": "f1c6e5b4c8a9d001",
    "name": "Pump OFF",
    "group": "uigrp001a2",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "PUMP OFF",
    "tooltip": "",
    "color": "#ffffff",
    "bgcolor": "#b71c1c",
    "className": "",
    "icon": "power_off",
    "payload": "OFF",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 150,
    "y": 410,
    "wires": [["mqttout_pump_cmd_01"]]
  },
  {
    "id": "mqttout_pump_cmd_01",
    "type": "mqtt out",
    "z": "f1c6e5b4c8a9d001",
    "name": "Send Pump Command",
    "topic": "smart_irrigation/dinhthi/cmd/pump",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "b7a9f2019b2f0001",
    "x": 430,
    "y": 385,
    "wires": []
  },
  {
    "id": "mqttin_config_test_01",
    "type": "mqtt in",
    "z": "f1c6e5b4c8a9d001",
    "name": "Config Test",
    "topic": "smart_irrigation/dinhthi/data/config_test",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "b7a9f2019b2f0001",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 470,
    "wires": [["ui_text_config_test_01"]]
  },
  {
    "id": "ui_text_config_test_01",
    "type": "ui_text",
    "z": "f1c6e5b4c8a9d001",
    "group": "uigrp001a2",
    "order": 3,
    "width": 12,
    "height": 1,
    "name": "Config Test",
    "label": "Config Test",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 390,
    "y": 470,
    "wires": []
  }
]
